<div style="padding: 1rem;">
  <h1 appTextColor="green">This text is green!</h1>
  <h2 appTextColor="blue">This text is blue!</h2>
  <p appTextColor="red">
    You can apply <code>appTextColor</code> to any element:
    set the attribute to any valid CSS color.
  </p>
</div>

<div style="padding:1rem;">
  <h1 appFontSize="32px">This text is big!!!</h1>
  <p appFontSize="18px">And this paragraph is a bit larger.</p>
</div>


<app-image-toggle></app-image-toggle>


<hr/>

<app-country-list></app-country-list>

<hr/>


<app-profile-switch></app-profile-switch>
